<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="<%= appURI.replace(/\/+$/, '') %>/css/style.css"
    />
    <%- include('common/styles'); -%>

    <script src="https://sdk-cdn.mypurecloud.com/javascript/latest/purecloud-platform-client-v2.min.js"></script>
    <script src="https://video.standard.vonage.com/v2/js/opentok.min.js"></script>
    <script type="text/javascript">
      var apiKey = "<%= vonageData.apiKey %>";
      var sessionId = "<%= vonageData.sessionId %>";
      var token = "<%= vonageData.token %>";
      var userName = "<%= vonageData.userName %>";
      var roomRole = "agent";
    </script>
  </head>
  <body>
    <div class="agent-page">
      <div class="agent-container container-fluid">
        <div class="row">
          <div class="col-sm-10 mx-auto">
            <div class="text-center">Customer</div>
            <div class="stream-container mx-auto">
              <div id="subscribers"></div>
            </div>
          </div>
        </div>
        <div class="row" id="share-screen-container">
          <!-- <div id="pub-share-screen"></div> -->
          <!-- <div id="sub-share-screen"></div> -->
        </div>
      </div>
    </div>

    <script
      type="module"
      src="<%= appURI.replace(/\/+$/, '') %>/js/vonage-room/room.js"
    ></script>
  </body>
</html>
